############################
# Node / React
############################
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
dist/
build/

############################
# Environment variables
############################
.env
.env.*
!.env.example

############################
# Logs
############################
logs/
*.log

############################
# OS / Editor
############################
.DS_Store
Thumbs.db
.vscode/
.idea/

############################
# Docker
############################
**/.dockerignore
docker-compose.override.yml

############################
# Terraform
############################
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
crash.log
terraform.tfplan

############################
# Kubernetes
############################
kubeconfig*
*.kubeconfig

############################
# GitHub Actions
############################
.github/workflows/*.log

#####
