# Node dependencies
node_modules

# Logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment files
.env
.env.*

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# OS files
.DS_Store
Thumbs.db

# Tests & docs
test
tests
coverage
README.md
